$primary: hsl(172, 67%, 45%);
$neutral1: hsl(183, 100%, 15%);
$neutral2: hsl(186, 14%, 43%);
$neutral3: hsl(184, 14%, 56%);
$neutral4: hsl(185, 41%, 84%);
$neutral5: hsl(189, 41%, 97%);
$neutral6: hsl(0, 0%, 100%);
$neutral7: hsl(9, 57%, 64%);
